<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>26457768453-q71oc6p5elsvpfn8qj79tg9g2jg5qge6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26457768453-q71oc6p5elsvpfn8qj79tg9g2jg5qge6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>26457768453-h14n4sp0vnc1t3dg4ocv8mimf55pknpc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCrz1X4aOG_pmJbvjtSx8Tq1uH2A7ErWj4</string>
	<key>GCM_SENDER_ID</key>
	<string>26457768453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.touchOrder</string>
	<key>PROJECT_ID</key>
	<string>touchorder-2c908</string>
	<key>STORAGE_BUCKET</key>
	<string>touchorder-2c908.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26457768453:ios:72721dfcf4ce51c569526c</string>
</dict>
</plist>